#BMB_bookmarksPopup box, #BMB_bookmarksPopup hbox
{
background-color: #eee !important;
}

menupopup {
background-color:#eee !important;
}
#contentAreaContextMenu {
background-color:#eee !important;
} 
menupopup#contentAreaContextMenu {
background-color:#eee !important;
} 




